* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/ultra-detailed-nebula-abstract-wallpaper-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.rpsBtn {
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;